GEMINI_API_KEY=
TAVILY_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="My-Research-agent"
NODE_ENV='development'
DB_PASSWORD=
PORT=3000
API_NAME=ResearchAgent
CLIENT_URL="http://localhost:5713"
DATABASE_URL=" here i am using local db url"